header h1 {
    color: red;
}

#accidentTypeChart {
    border: 1px solid #000;
    width: 700px !important;
    height: 700px !important;
}

#yearCharts {
    border: 1px solid #000;
    width: 900px !important;
    height: 600px !important;
}
